*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root{
    --bg-top-menu: #F2C2B8;
    --body-bg-color: #f5f0ef;
    --btn-contact: rgb(223, 219, 219);
}

body{
    font-family: sans-serif;
    background: var(--body-bg-color);
}
