h3{
    font-weight: bold;
    padding: 1rem;
}

#option-list{
    width: 100%;
    display: flex;
    overflow: scroll;
    gap: 1rem;
    padding: 1rem;
}



@media (min-width: 1100px){
    h3{
        font-weight: bold;
        padding: 1.9rem;
    }
    #option-list{
        width: 100%;
        display: flex;
        overflow: hidden;
        flex-wrap: wrap;
        padding: 0.2rem;
        margin-inline: auto;
        padding-left: 8.5rem;
    }
}