ion-icon{
    display: none;
}
#top{
        width: 100%;
        background: var(--bg-menu-color);
        height: 93px;
        display: flex;
        justify-content: center;
    }
    
    #top #box{
        width: 80%;
        height: 93px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    #top #box #boxLinks{
        display: flex;
    }
    #top #box #boxLinks li{
        margin-left: 1.5rem;
    }
    
    #top #box #boxLinks li a{
        margin-left: 1.5rem;
        color: black;
        font-weight: bold;
    }
    
    #top #box #boxLinks li a.active{
        background: var( --btn-white);
        padding: 0.5rem 1.5rem;
        border-radius: 4px;
    }

    /* ==================MOBILE=============== */

 @media (max-width: 506px) {
    ion-icon{
        display: block;
        font-size: 2rem;
    }
    #top{
        background: var(--bg-menu-color);
    }

    #top #box #boxLinks{
        display: none;
    }

    #top #box{
        width: 80%;
        height: 93px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
 }